*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f5f8;
  height: 100vh;
}

.header {
  padding: 1.5em;
  background-color: #2680c0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
}

.icon {
  position: relative;
  color: #fff;
}

.cart-count {
  position: absolute;
  right: -10px;
  top: -15px;
  background-color: #85c6f4;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 29px;
}

.main {
  width: 800px;
  max-width: 90%;
  margin: 5em auto;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #0e2a42;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #0e2a42;
  padding: 1em 0;
  margin-bottom: 2em;
}

.label,
.total-price {
  font-weight: 700;
  color: #0e2a42;
  letter-spacing: 3px;
}

.clear-cart-btn {
  display: block;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1rem;
  color: rgb(167, 53, 33);
  border: 1px solid rgb(167, 53, 33);
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.3s ease-in-out;
}

.clear-cart-btn:hover,
.clear-cart-btn:focus {
  background-color: #e66d6d;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}

.content {
  display: flex;
}

img {
  width: 80px;
  max-width: 100%;
}

.image-container {
  width: 80px;
}

h4,
p {
  margin: 0;
}

.name {
  margin-bottom: 0.5em;
  color: #0e2a42;
}

.price {
  margin-bottom: 0.7em;
  color: #617d98;
  font-weight: 600;
}

.remove-btn {
  font-family: inherit;
  font-size: 1rem;
  color: #4e7692;
  border: 0;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  padding: 0;
}

.remove-btn:hover {
  color: #75baeb;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  color: #4e7692;
  transition: 0.2s ease-in-out;
}

.arrow:hover {
  color: #75baeb;
}

.amount {
  margin: 0.2em 0;
  font-size: 1.2rem;
  color: #0e2a42;
}

.emptyCart {
  text-align: center;
  color: #617d98;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 3px;
}
